 /*style.css

/*==============================
base element styles
================================*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.cfloat{
  float: center;
}
.rfloat{
  float: right;
}

*
.header-class {
  text-align: left;
}
*/
p {
  background-color: lightgreen;
  color: black;
  font-size: 20px;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
}

/* big image of Miso */
img {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 200px;
  float: none;
}

/* end big image  */

.rotate {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

ul.main-nav {
width: 100%;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
}

ul.main-nav li {
  display: inline;
  text-align: center;
  border: 7px solid tomato;
  margin: 0;
}

/* main-nav menu */
.main-nav a {
  text-decoration: none;
  background-color: tomato;
  color: white;
  margin-top: auto;
}
/*end main-nav menu  */


/* header-Miso Soup */
h1 {
    font-size: 4em;
    margin: 0.10em;
    border-style:groove;
    border-color: darkBlue;
    border-width: thick;

}

body {
  text-align: center;
  color: black;
  font-family: sans-serif;
  line-height: 2.0;
}
h2 {
  letter-spacing: 0;
  color: darkBlue;
  font-family: Arial,Helvetica Verdana,sans-serif;
}

img[src*="iso"]{
  margin: 4px;
  border: dotted 8px;
  padding: 0;
  border-color: tomato;
}

/*=======================================
class selectors - "contains"
=======================================*/

.green-plaid-bg {
  background: url('../Images/bggreenplaid.jpg');
  padding-top: 2px;
  margin-top: auto;

}
/*=======================================
submit button
=======================================*/
#submit{
  background-color: transparent;
  display: inline-block;
  font-size: 0;
  border: 0;


}

footer p{
  text-align: center;
  background-color: lightgreen;
  padding-top: 10px;
  padding-right: 20Px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-top: 0;
  font-size: 1em;
}
/*=======================================
end submit button
=======================================*/

/*=======================================
Media queries
========================================= */

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
} for all devices (until the @media block)

body {
  font-family: Arial, Helvetica, sans-serif ;
}
