 style.css

/*==============================
base element styles
================================*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.cfloat{
  float: center;
}
.rfloat{
  float: right;
}


.header-class {
  text-align: left;
}

p {
  background-color: lightgreen;
  color: black;
  font-size: 20px;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
}
/* big image of Miso */
img {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 200px;
}
/* end big image  */

.rotate {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}



ul.main-nav {
width: 100%;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
}

ul.main-nav li {
  display: inline;
  text-align: center;
  border: 7px solid tomato;
  margin: 0;
}

/* main-nav menu */
.main-nav a {
  text-decoration: none;
  background-color: tomato;
  color: white;
  margin-top: auto;
}
/*end main-nav menu  */

h1 {
    font-size: 4em;
    margin: 0.67em 0;
}
body {
  text-align: center;
  color: black;
  font-family: sans-serif;
  line-height: 2.0;
}


img[src*="iso"]{
  margin: 4px;
  border: dotted 8px;
  padding: 0;
  border-color: tomato;
}

/*=======================================
class selectors - "contains"
=======================================*/

.green-plaid-bg {
  background: url('../Images/bggreenplaid.jpg');
  padding-top: 2px;
  margin-top: auto;

}
/*=======================================
submit button
=======================================*/
#submit{
  height: 50px;
  width: 7%;
  background: tomato !important;
  padding: 5px 3px;
  margin-bottom: 2em;
  margin-top: 2em;

}

footer p{
  text-align: center;
  background-color: lightgreen;
  padding-top: 10px;
  padding-right: 20Px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-top: 0;
  font-size: 1em;
}
/*=======================================
end submit button
=======================================*/

/*=======================================
Media queries
========================================= */

  /* for all devices (until the @media block) */
body {
  font-family: Arial, Helvetica, sans-serif ;
}
@media only screen and (min-width: 630px) {
  /* only for screens wider or equal to 630 pixels */
  /* code from https://www.thesitewizard.com/css/design-2-column-layout.shtml */
