 style.css

/*==============================
base element styles
================================*/
.header-class {
  text-align: center;
}

h1 {
  text-align: center;
}

body {
  text-align: center;
  color: black;
  font-family: sans-serif;
  line-height: 1.6;
}

li{
  text-align: center;
  font-weight: normal;
  text-decoration: none;
}
p {
  background-color: lightgreen;
  color: white;
  font-size: 20px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: : 30px;
  ;

}

/*=======================================
Media queries
========================================= */



.
